.mod-debate-border-style {
    border: 1px solid rgba(0,0,0,.125);
}

.mod-debate-no-padding {
    padding: 0 !important;
}

.mod-debate-button {
    width: 10em;
}

.mod-debate-negative, .mod-debate-negative-response-counter {
    color: red;
    font-weight: bold;
}

.mod-debate-positive, .mod-debate-positive-response-counter {
    color: green;
    font-weight: bold;
}

.mod-debate-negative-icon {
    color: red;
}

.mod-debate-positive-icon {
    color: green;
}

.mod-debate-topic {
    font-weight: bold;
}
