<div class="p-3 mod-debate-border-style mod-debate-find-response">
    <div>
        {{#str}} possible_match, mod_debate{{/str}}
    </div>
</div>
{{^found_response}}
    <div class="p-3 mod-debate-border-style mod-debate-find-response">
        <div>
            {{#str}} no_possible_match, mod_debate{{/str}}
        </div>
    </div>
{{/found_response}}
{{#found_response}}
    <div class="p-3 mod-debate-border-style mod-debate-find-response">
        <div class="mod-debate-response-text">
            {{response}}
        </div>
    </div>
{{/found_response}}
