<div class="mod-debate-topic-container container">
    <div class="row">
        <div class="col-12">
            <div class="mod-debate-topic p-3 mod-debate-border-style">
                {{debate}}
            </div>
            {{#debateformat}}
                <div class="mod-debate-description p-3 mod-debate-border-style">
                    {{{intro}}}
                </div>
            {{/debateformat}}
            <div class="mod-debate-response-container container">
                <div class="row">
                    <div class="col-12 col-sm-6 mod-debate-no-padding">
                        <div class="mod-debate-positive p-3 mod-debate-border-style">
                            {{#str}} pros_response_count, mod_debate{{/str}}
                        </div>
                        <div class="mod-debate-positive-response p-3 mod-debate-border-style">
                            {{positive}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mod-debate-no-padding">
                        <div class="mod-debate-negative p-3 mod-debate-border-style">
                            {{#str}} cons_response_count, mod_debate{{/str}}
                        </div>
                        <div class="mod-debate-negative-response p-3 mod-debate-border-style">
                            {{negative}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <div class="row">
                    {{#grade_capability}}
                    <div class="col-12 text-center mt-2">
                        <a href="{{gradeurl}}" class="btn btn-primary mod-debate-button">{{#str}} grade_debater, mod_debate{{/str}}</a>
                    </div>
                    {{/grade_capability}}
                    <div class="col-12 text-center mt-2">
                        <a href="{{debateurl}}" class="btn btn-primary mod-debate-button">{{#str}} join_debate, mod_debate{{/str}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

